body {
    overflow-x:hidden;
    overflow-y:hidden;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    line-height: 1.5;
}
  
/* Forces footer to be at the bottom */
body::after{ content:''; display:block; height:100px; }

img{
    box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}