@media screen and (max-width: 1230px) {
    #navigation{
        font-size: 20px;
    }

    #mainHeading{
        font-size:40px;
    }

    .articles-part > .three-fragments-grid {
        grid-template-columns: 1fr 1fr;
    }

    .three-to-one-grid{
        width:100%;
    }
}


@media screen and (max-width: 1024px) {

    .articles-part > .three-fragments-grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .checkbox-container {
        width: 100%;
    }

    .four-fragments-grid{
        display: block;
    }

    .three-to-one-grid{
        display:block;
    }

    #navigation{
        font-size: 16px;
    }

    #mainHeading{
        font-size:35px;
    }
}

@media screen and (max-width: 850px) {
    .articles-header {
        height: 15rem !important;
    }

    .articles-header > .equal-shared-grid {
        margin: 0 !important;
        width: 100% !important;
        display: block !important;
    }
    
    .responsive-input {
        width: 100% !important;
    }

    .articles-header > span {
        margin-top: 0 !important;
        padding-top: 1rem !important;
    }

    .checkbox-container {
        width: 50% !important;
        margin: 1rem auto;
    }

    .articles-part > .three-fragments-grid {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .articles-container {
        display: block !important;
    }

    .articles-categories {
        width: 100% !important;
    }

    .articles-part {
        width: 100% !important;
    }

    .dropdown{
        display:block;
        background-color: #0099cc; 
    }

    #navigation{
        display:none;
    }

    .banner{
        display:none;
    }

}

@media screen and (max-width: 850px) {
    .article-image{ 
        height: auto !important;
        width: 100% !important;
    }
 
    #popular-articles{
        width: 70%;
        margin: 40px auto;
    }

    #latest-articles{
        width: 70%;
        margin: 40px auto;
    }

    #nav-section{
        width:100%;
        text-align: start;
    }
    #about-me-heading{
        text-align: center;
    }

    #about-section{
        width: 100%;
        padding: 0px;
    }

    .responsive-input{
        width: 100%;
    }

    .equal-shared-grid{
        min-width: 100%;
        padding: 0px;
    }

    #article{
        min-width: 100%;
        padding: 0px;
    }

    .responsive-image{
        height: 100%; 
        width: 100%; 
    }
}

@media screen and (max-width: 790px) {
    .checkbox-container {
        width: 100%;
    }

    .article-image{ 
        height: auto;
    }

    #little-heading{
        display:block;
    }

    #mainHeading{
        display:none;
    }
}

@media screen and (max-width: 690px)  {

    .checkbox-container {
        width: 100%;
    }

    .article-image{ 
        height: auto;
    }

    .about-content{
        padding: 10px;
    }

    .index-partial-content{
        display: none;
    }

    .index-partial-heading{
        font-size: 25px;
    }

    .cover-image{
        width: 100%;
        height: 50%;
    }

    .details-content{
        padding: 10px;
        width: 90%;
    }

    .details-title{
        font-size: 25px;
        margin:20px;
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {  
    #fb-wrapper {
        display: none;
    }

    .checkbox-container {
        width: 100%;
    }
    
    .article-image{ 
        height: auto;
    }

    #footer{
        font-size: 16px;
    }

    .equal-shared-grid{
        display: block;
        padding: 0px;
    }

    .details-title{
        font-size: 22px;
        margin:20px;
        padding: 10px;
    }

    #mainHeading{
        font-size: 20px;
    }

    h1{
        transform: scale(0.5);
    }
}

@media screen and (max-width: 600px) { 
    .blog-card {
        margin: 3rem 0 !important;
    }

    .articles-header > span {
        padding: 1.5rem 4rem !important;
    }
    
    .articles-part > .three-fragments-grid {
        display: block !important;
    }
}