html{
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x:hidden;
  overflow-y:hidden;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  line-height: 1.69;
}

body::after{ content:''; display:block; height:100px; }

#footer{
  position:absolute; 
  bottom:0; 
  margin-top: 50px;
  width:100vw; 
  /* height:50px;  */
}

/* @media screen and (max-width: 600px) {
  img{
    width:100%;
    }
} */

button {
  cursor: pointer;
}

#mainHeading{
  cursor: pointer;
}

.bold{
font-weight: bold;
}

a{
text-decoration: none;
outline: none;
}

.overflow-auto{
  overflow: auto;
}

.m-0{
margin:0px;
}

.m-20{
  margin:20px;
  }

.m-10{
margin:10px;
}

.bg-nav{
background-color: #1f3d7a;
}

.text-dark-red{
  color: darkred;
}

.text-black{
  color: black;
  }

.text-white{
color: white;
}

.text-center{
text-align: center;
}

.banner{
color:white;
font-size: 30px;
}

  .text-nav{
    color: #1f3d7a;
  }

  .bg-banner{
  background-color: #0099cc;
  }

  .font-20{
  font-size: 20px;
}

.font-40{
  font-size: 40px;
}

.p-0{
  padding: 0px;
}

.p-20{
  padding:20px;
}

  .p-10{
  padding:10px;
}

.position-relative{
  position: relative;
}

.nav{
  text-decoration: none;
  color:white;
  position:absolute;
  bottom:0;
  right:0;
  list-style: none;
  font-size: 25px;
  padding: 10px 0px;
}

.float-left{
float: left;
}

.float-right{
  float: right;
}

.display-inline{
  display: inline;
}

.display-none{
  display:none;
}

.display-block{
  display: block;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.w-70{
  width: 70%;
}

/* UI Animations */

.raise-main-heading{
  transition: font-size .2s; /* Animation */  
}

.raise-main-heading:hover{ 
  font-size: 65px;
}

.raise-article-heading-btn{
  transition: font-size .2s; /* Animation */  
}

.raise-article-heading-btn:hover{ 
  font-size: 50px;
}

.raise-nav-btn{
  transition: font-size .2s; /* Animation */  
}

.raise-nav-btn:hover { 
  font-size: 30px;
}

/* UI Animations */

.zoom-element{
  transition: transform .2s;
}

.zoom-element:hover{
  transform: scale(1.03);
}

.article-image{
  height: 500px;
  transition: transform .2s; /* Animation */  
  border-radius: 5px;
}

.article-image:hover{
  transform: scale(1.02);
  filter: contrast(50%);
  filter: opacity(70%);
  cursor: pointer;
}

.w-30{
  width: 30%;
}

.w-50{
  width: 50%;
}

.w-80{
  width: 80%;
}

.w-100{
  width:100%;
}

.articleText{
border: #0099cc solid 1px;
height: 300px;
/* border-radius: 5px; */
outline: none;
font-size: 20px;
}

.mx-auto{
margin: 0px auto;
}

.index-partial-heading{
  font-size: 35px;
}

.blogBtn{
  outline: none;
  padding: 20px;
  border-radius: 10px;
  border:none;
  font-size: 20px;
  font-weight: bold;
} 

.border-none{
  border:none;
}

.br-5{
  border-radius: 5px;
}

.outline-none{
  outline: none;
}

#fontSizeSelect{
  border-radius: 5px;
  outline: none;
}

#fontSizeSelect::-ms-expand { 
  background: black;
  display: none; /* hide the default arrow in ie10 and ie11 */
}

.ml-5{
  margin-left: 5%;
}

.three-to-one-grid{
  display:grid;
  grid-template-columns: 4fr 1fr;
}

.two-to-four-grid{
  display:grid;
  grid-template-columns: 2fr 4fr;
}

.one-to-four-grid{
  display:grid;
  grid-template-columns: 1fr 4fr;
}

.text-start{
  text-align: start;
}

/* Dropdown Button */
.dropbtn {
  background-color: #0099cc;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  font-size: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  /* display: none; */
  position: relative;
  background-color: #0099cc;
  color:white;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white; color: #0099cc;}

/* Show the dropdown menu on hover */
/* .dropdown:hover:active .dropdown-content {display: block;} */

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #0099cc;}

.mx-10-auto{
  margin: 10px auto;
}

.mt-25{
  margin-top:25px;
}

.text-end{
  text-align: end;
}

.font-25{
  font-size: 25px;
}

.font-18{
  font-size: 18px;
}

.font-16{
  font-size: 16px;
}

.font-14{
  font-size: 14px;
}

.articles-select{
  padding:20px;
  color:white;
} 

img{
  box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mt-50{
  margin-top:50px;
}

.navBtn{
  transition: transform .2s; /* Animation */
}

.navBtn:hover{
  /* font-size:40px; */
  transform: scale(1.5);
}

.bg-transparent{
  background-color: transparent;
}

.four-fragments-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-image{
  height: 200px;
}

.equal-shared-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 5%;
  width: 70%;
}

.details-title{
  font-size: 35px;
  margin:20px;
  padding: 10px;
}


#little-heading{
  display:none;
}

.custom-select{
  height: 40px;
  text-indent: 10px;
  border: #efefef solid 1px;
  box-shadow: #ccc 0px 3px 5px 0px; 
  border-bottom: #003399 1.5px solid;
}

.selected{
  border: #efefef solid 1px;
  box-shadow: #ccc 0px 3px 5px 0px; 
  background-color: #003399;
  color: white;
  border-bottom: white 1.5px solid;
}


@media screen and (max-width: 1230px) {
  #navigation{
    font-size: 20px;
  }

  #mainHeading{
    font-size:40px;
  }

  .three-to-one-grid{
    width:100%;
    /* grid-templa  te-columns: 10fr 3fr; */
  }
}


@media screen and (max-width: 1024px) {
  .four-fragments-grid{
    display: block;
  }
  
  #articles{
    width: 100%;
  }

  .three-to-one-grid{
    display:block;
  }

  #navigation{
    font-size: 16px;
  }

  #mainHeading{
    font-size:35px;
  }
}

@media screen and (max-width: 850px) {
  #about-me-heading{
    text-align: center;
  }

  #about-section{
    width: 100%;
    padding: 0px;
  }

  .responsive-input{
    width: 100%;
    
  }

  .equal-shared-grid{
    min-width: 100%;
    padding: 0px;
  }
  
  #article{
    min-width: 100%;
    padding: 0px;
  }

  .responsive-image{
   height: 100%; 
   width: 100%; 
  }
}

@media screen and (max-width: 790px) {
    
  #nav-section{
    text-align: end;
  }

  #little-heading{
    display:block;
  }

  #mainHeading{
    display:none;
  }

  .dropdown{
    display:block;
  }

  #navigation{
    display:none;
  }
}

@media screen and (max-width: 690px) {
  #popular-articles{
    width: 70%;
    margin: 40px auto;
  }
  
  .about-content{
    padding: 10px;
  }

  .index-partial-content{
    display: none;
  }

  .index-partial-heading{
    font-size: 25px;
  }

  .cover-image{
    width: 100%;
    height: 50%;
  }

  .details-content{
    padding: 10px;
    width: 90%;
  }

  .details-title{
    font-size: 25px;
    margin:20px;
    padding: 10px;
  }

  .details-image{
    height: 200px;
    min-width: 100%;
  }
  
  .article-image{
    height: 300px;
  }
}

@media screen and (max-width: 400px) {  

  #footer{
    font-size: 16px;
  }

  .equal-shared-grid{
    display: block;
    padding: 0px;
  }

/* 
  .details-content{
    padding: 10px;
    width: 90%;
  } */

  .details-title{
    font-size: 22px;
    margin:20px;
    padding: 10px;
  }

  #mainHeading{
    font-size: 20px;
  }

  .details-image{
    height: 250px;
    min-width: 100%;
  }

  .article-image{
    height: 200px;
  }
 h1{
   transform: scale(0.5);
 }
}

.noMoreBtn{
  display:none;
}

.moreBtn{
  /* color: #0099cc; */
}

.moreBtn:hover{
  cursor: pointer;
  text-decoration: underline;
}

#loader{
  display: none;
}

.loader {
  border: 16px solid #3498db; /* Light grey */
  border-top: 16px solid #f3f3f3; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0px auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#not-found{
  display:none;
}

.font-35{
  font-size: 35px;
}

.fb-btn-wrapper{
  width:0px;
}

