html{
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  line-height: 1.69;
}

body::after{ content:''; display:block; height:50px; }

#footer{
  position:absolute; 
  bottom:0; 
  margin-top: 50px;
  width:100%; 
  height:50px; 
}

/* @media screen and (max-width: 600px) {
  img{
    width:100%;
    }
} */

button {
  cursor: pointer;
}

#mainHeading{
  cursor: pointer;
}

.bold{
font-weight: bold;
}

a{
text-decoration: none;
outline: none;
}

.overflow-auto{
  overflow: auto;
}

.m-0{
margin:0px;
}

.m-20{
  margin:20px;
  }

.m-10{
margin:10px;
}

.bg-nav{
background-color: #1f3d7a;
}

.text-black{
  color: black;
  }

.text-white{
color: white;
}

.text-center{
text-align: center;
}

.banner{
color:white;
font-size: 30px;
}

.bg-banner{
background-color: #0099cc;
}

  .font-20{
  font-size: 20px;
}

.font-40{
  font-size: 40px;
}

  .p-20{
  padding:20px;
}

  .p-10{
  padding:10px;
}

.position-relative{
  position: relative;
}

.nav{
  text-decoration: none;
  color:white;
  position:absolute;
  bottom:0;
  right:0;
  list-style: none;
  font-size: 25px;
  padding: 10px 0px;
}

.float-left{
float: left;
}

.float-right{
  float: right;
}

.display-inline{
  display: inline;
}

.display-block{
  display: block;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.w-70{
  width: 70%;
}

/* UI Animations */

.raise-main-heading{
  transition: font-size .2s; /* Animation */  
}

.raise-main-heading:hover{ 
  font-size: 70px;
}

.raise-article-heading-btn{
  transition: font-size .2s; /* Animation */  
}

.raise-article-heading-btn:hover{ 
  font-size: 50px;
}

.raise-nav-btn{
  transition: font-size .2s; /* Animation */  
}

.raise-nav-btn:hover { 
  font-size: 40px;
}

/* UI Animations */

.zoom-element{
  transition: transform .2s;
}

.zoom-element:hover{
  transform: scale(1.03);
}

.article-image{
  transition: transform .2s; /* Animation */  
  border-radius: 5px;
}

.article-image:hover{
  transform: scale(1.02);
  filter: contrast(50%);
  filter: opacity(70%);
  cursor: pointer;
}

.w-30{
  width: 30%;
}

.w-50{
  width: 50%;
}

.w-80{
  width: 80%;
}

.w-100{
  width:100%;
}

.articleText{
border: #0099cc solid 1px;
height: 300px;
/* border-radius: 5px; */
outline: none;
font-size: 20px;
}

.mx-auto{
margin: 0px auto;
}

.blogBtn{
  outline: none;
  padding: 20px;
  border-radius: 10px;
  border:none;
  font-size: 20px;
  font-weight: bold;
} 

.border-none{
  border:none;
}

.br-5{
  border-radius: 5px;
}

.outline-none{
  outline: none;
}

#fontSizeSelect{
  border-radius: 5px;
  outline: none;
}

#fontSizeSelect::-ms-expand { 
  background: black;
  display: none; /* hide the default arrow in ie10 and ie11 */
}

.ml-5{
  margin-left: 5%;
}

.three-to-one-grid{
  display:grid;
  grid-template-columns: 10fr 3fr;
}

.two-to-four-grid{
  display:grid;
  grid-template-columns: 2fr 4fr;
}

.one-to-four-grid{
  display:grid;
  grid-template-columns: 1fr 4fr;
}

.text-start{
  text-align: start;
}

.mx-10-auto{
  margin: 10px auto;
}

.mt-25{
  margin-top:25px;
}

.text-end{
  text-align: end;
}

.font-25{
  font-size: 25px;
}

.font-16{
  font-size: 16px;
}

.font-14{
  font-size: 14px;
}

.articles-select{
  padding:20px;
  color:white;
} 

img{
  box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mt-50{
  margin-top:50px;
}

.navBtn{
  transition: transform .2s; /* Animation */
}

.navBtn:hover{
  /* font-size:40px; */
  transform: scale(1.5);
}

.bg-transparent{
  background-color: transparent;
}

.four-fragments-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-image{
  height: 200px;
}

.equal-shared-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 5%;
  width: 70%;
}

.custom-select{
  border: #efefef solid 1px;
  box-shadow: #ccc 0px 3px 5px 0px; 
  border-bottom: #003399 1.5px solid;
}

.selected{
  border: #efefef solid 1px;
  box-shadow: #ccc 0px 3px 5px 0px; 
  background-color: #003399;
  color: white;
  border-bottom: white 1.5px solid;
}


@media screen and (max-width: 1230px) {
  .three-to-one-grid{
    width:100%;
    /* grid-templa  te-columns: 10fr 3fr; */
  }
}


@media screen and (max-width: 1024px) {
  .four-fragments-grid{
    display: block;
  }
  
  #articles{
    width: 100%;
  }

  #mainHeading{
    font-size:40px;
  }

  .raise-main-heading{
    transition: transform 2s;
  }
  
  .raise-main-heading:hover{ 
    font-size: 60px;
  }
  .three-to-one-grid{
    display:block;
  }
  

}
@media screen and (max-width: 850px) {
  #navigation{
    display: none;
  }
  
  #article{
    width: 100%;
    padding: 0px;
  }

  .responsive-image{
   height: 100%; 
   width: 100%; 
  }
}

@media screen and (max-width: 690px) {
  .cover-image{
    width: 100%;
    height: 50%;
  }
}

@media screen and (max-width: 400px) {  
 h1{
   transform: scale(0.5);
 }
}

#moreBtn{
  color: #003399;
}

#moreBtn:hover{
  cursor: pointer;
  text-decoration: underline;
}